@tailwind utilities;

.auth-card {
    @apply border border-gray-300 bg-white shadow px-2 py-1 rounded;
}
.bounce-enter-active,
.bounce-leave-active {
  transition: all .15s;
}
.bounce-enter-from,
.bounce-leave-to {
  opacity: 0;
  scale: .995;
}