@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&display=swap');
@tailwind utilities;
@tailwind base;
@tailwind components;
@layer utilities {
    .h-d-screen {
        height: 100vh;
        height: 100dvh;
    }
}
body::-webkit-scrollbar {
    width: 0;
}
p, a, small, h1, h2, h3, h4, h5, h6, span { 
    font-family: 'DM Sans', sans-serif !important; 
}
a {
    color: rgb(134, 239, 172);
    cursor: pointer;
}
.no-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}
.base-input-wrapper input {
    background: rgb(64, 64, 64) !important;
    appearance: none;
    border-color: rgb(62, 62, 62) !important;
}
.overlay-model-content {
    background-color: rgb(38, 38, 38) !important;
}
.overlay-modal-header, .overlay-modal-body {
    color: rgb(179, 179, 179) !important;
}
.overlay-modal-header svg {
    fill: rgb(179, 179, 179);
}
.base-input-wrapper input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active{
        -webkit-box-shadow: 0 0 0 30px rgba(61, 61, 61) inset !important;
        -webkit-text-fill-color: rgb(237, 237, 237)
    }
.base-input-label:not(.highlight) {
    color: rgb(194, 194, 194) !important;
}